package views

templ Menu() {
    <button hx-get="/about" hx-target="#centre-page">O nás</button>
    <button hx-get="/areals" hx-target="#centre-page"> Sportoviště</button>
    <button hx-get="/contacts" hx-target="#centre-page">Kontakty</button>
    <button hx-get="/reservation" hx-target="#centre-page">Rezervace</button>
}